<config><admin_role>750889313440628787</admin_role><category listeningChannel="741138173865754634" listeningMessage="751129427642941490" name="Category1"><role dispName="R" emoji="🇷" name="741357049077825597" usesCustomEmoji="False">RED</role><role dispName="G" emoji="🇬" name="741357076936261633" usesCustomEmoji="False">gren</role><role dispName="B" emoji="🅱️" name="741357092153196614" usesCustomEmoji="False">Red</role><role dispName="W" emoji="🇼" name="750898750175838209" usesCustomEmoji="False">Secret admin powers???</role></category></config>